@font-face {
    font-family: ShadowsIntoLight;
    src: url(./fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

.slider-body {
    max-width: 45rem;
    max-height: 45rem;
    width: 90vh;
    height: 90vh;
    margin: 4vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 20%;
    background-color: #e9e7cd;
    padding: 2vw 2vw 5vw;
    gap: 1rem
}

input {
    display: none;
}

.wrapper {
    height: 80vh;
    width: 80vh;
    max-width: 33rem;
    max-height: 33rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 3vh;
}

.div-images {
    display: flex;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

img {
    width: 80vh;
    max-width: 33rem;
    height: auto;
}

.div-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vh;
    max-width: 33rem;
    align-self: center;

}

.div-controls {
    display: flex;
    order: 3;
    gap: 0.5rem;

}

label {
    padding: 1vh;
    cursor: pointer;


}

.control {
    background-color: #3f2a08;
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    border: 0.125rem solid #3f2a08;
    cursor: pointer;
}

label:hover .control {
    background-color: #8B4513;
    border-color: #8B4513;

}

.div-text-wrap {
    display: flex;
    overflow: hidden;
    width: 28vh;
}

.div-text {
    width: 112vh;
    transition: all 0.5s ease-in-out;
    display: flex;

}

p {
    display: block;
    color: #3f2a08;
    font-size: 1.25rem;
    font-family: ShadowsIntoLight;
    font-weight: 800;
    letter-spacing: .1em;
    white-space: nowrap;
    width: 28vh;
}


#radio1:checked~.wrapper .div-images {
    transform: translateX(0);
}

#radio2:checked~.wrapper .div-images {
    transform: translateX(-100%);
}

#radio3:checked~.wrapper .div-images {
    transform: translateX(-200%);
}

#radio4:checked~.wrapper .div-images {
    transform: translateX(-300%);
}

#radio1:checked~.div-wrap .div-text-wrap .div-text {
    transform: translateX(0);
}

#radio2:checked~.div-wrap .div-text-wrap .div-text {
    transform: translateX(-25%);
}

#radio3:checked~.div-wrap .div-text-wrap .div-text {
    transform: translateX(-50%);
}

#radio4:checked~.div-wrap .div-text-wrap .div-text {
    transform: translateX(-75%);
}

#radio1:checked~.div-wrap .div-controls #control1 .control {
    background-color: transparent !important;
}

#radio2:checked~.div-wrap .div-controls #control2 .control {
    background-color: transparent !important;
}

#radio3:checked~.div-wrap .div-controls #control3 .control {
    background-color: transparent !important;
}

#radio4:checked~.div-wrap .div-controls #control4 .control {
    background-color: transparent !important;
}
@media (width < 650px), (orientation: portrait)  {
    .slider-body {
        width: 90vw;
        height: 90vw;
    }
    .wrapper {
        width: 80vw;
        height: 80vw;
    }
    img {
        width: 80vw;
    }
    .div-wrap {
        width: 80vw;

    }
    .div-text-wrap {
        width: 50vw;
    }
    .div-text {
        width: 200vw;
    }
    p {
        width: 50vw;
        font-size: 1em;
    }
}